*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color : #272e3f; 
    --secunder-color : #272e3f; 
    --primary-text : white;
    --primary-btn : ;
}

/* navbar */
header{
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    padding: 40px 20px;
    gap: 20px;
    margin: 0 auto;
}

nav{
    display: flex;
    margin: 12 auto;
}

nav span{
    color: var(--primary-text);
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
}

.nav-links li a{
    text-decoration: none;
    color: var(--primary-text);
}

/* elementy-list */
button{
    cursor: pointer;
    background-color: aqua;
    border-radius: 20px;
    padding: 10px;
}

/* layout-hero */
.hero-section{
    display: flex;
    max-height: 100vh;
}

.hero-text{
    display: flex;
    flex-direction: column;
}


.card-list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin : 0 auto;
}
.card-collections{
    background-color: var(--secunder-color);
    color: var(--primary-text);
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    text-align: center;
}